<%= form_tag top_twenty_results_path do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<% @results.each do |pair_id| %>
<p>
  <% music = TunesTakeoutWrapper.suggestion_info(pair_id)["suggestion"] %>
  <% if music["music_type"] == "album" %>
    <%= RSpotify::Album.find(music["music_id"]).name %>,
    <%= RSpotify::Album.find(music["music_id"]).uri %>,
    <%= RSpotify::Album.find(music["music_id"]).images[0]["url"] %>,
    <%= RSpotify::Album.find(music["music_id"]).album_type %>,
    <%= RSpotify::Album.find(music["music_id"]).external_urls['spotify'] %>



  <% elsif music["music_type"] == "artist" %>
  <%= RSpotify::Artist.find(music["music_id"]).name %>,
  <%= RSpotify::Artist.find(music["music_id"]).uri %>,
  <%= RSpotify::Artist.find(music["music_id"]).images[0] %>,
  <%= RSpotify::Artist.find(music["music_id"]).type %>,
  <%= RSpotify::Artist.find(music["music_id"]).external_urls['spotify'] %>



  <% elsif music["music_type"] == "track" %>
  <%= RSpotify::Track.find(music["music_id"]).name %>,
  <%= RSpotify::Track.find(music["music_id"]).preview_url %>

  <% else %>
    <%= "Invalid music type." %>
  <% end %>
</p>
<% end %>
