<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title><img alt="Spotify Icon" src="http://daveslounge.com/wp-content/uploads/2016/01/spotify-logo.png", width="60" height="60" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<h1><%= link_to "tunes&takeout", root_path %></h1>

<% if current_user %>
  <nav>
    <h3>Hi, <%= current_user.name %>!</h3>
    <%= link_to "Log Out", "/logout" %>
  </nav>
  <%= form_tag top_twenty_results_path do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>
<% else %>
  <nav>
  <%= link_to "Log In", "/auth/spotify" %>
  <%= link_to "Top Pairings", "/top_twenty" %>
  </nav>

<% end %>

<body>

<%= yield %>

</body>
</html>
