<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<h1>tunes&takeout</h1>
<%= link_to "Home", root_path %>
<body>

<%= yield %>

</body>
</html>
