<!DOCTYPE html>
<html>
<head>
  <title>TunesTakeout</title>
  <a href="https://www.spotify.com/us/">
    <img alt="Spotify Icon" src="http://daveslounge.com/wp-content/uploads/2016/01/spotify-logo.png", width="60" height="60" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </a>
</head>

<h1><%= link_to "tunes&takeout", root_path %></h1>

<% if current_user %>
  <nav>
    <%= link_to "#{RSpotify::User.find(current_user.name).id}", "#{RSpotify::User.find(current_user.name).external_urls["spotify"]}" %>
    <%= link_to "Log Out", "/logout" %>
  </nav>
  <%= form_tag search_path do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>
<% else %>
  <nav>
  <%= link_to "Log In", "/auth/spotify" %>
  <%= link_to "Top Pairings", "/top_twenty" %>
  </nav>

<% end %>

<body>

<%= yield %>

</body>
</html>
